<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <appender class="ConsoleAppender" name="STDOUT">
    <encoder class="PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>
  <import class="ch.qos.logback.core.ConsoleAppender"/>

  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>